@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    line-height: 1.5em;
}

menu {
    display: none;
}

article {
    width: 100%;
}

article::after {
    content: 'Esse artigo foi impresso por Gustavo Silva';
    font-size: 0.5em;
}
